@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-sans{
  font-family: "Work Sans", sans-serif;
}
.font-playfair{
  font-family: "Playfair Display", serif;
}

.theme-color{
  background-color: #23BE0A;
}
.theme-color2{
  background-color: #59C6D2;
}
.text-color{
  color: #23BE0A;
}
.nav-border{
  border: 1px solid #23BE0A;
}
.banner-bg{
  background: rgba(19, 19, 19, 0.05);;
}
